<%= form_for @guest, html: { class: "well" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "John Smith" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "user@example.com" %>
		<span class="help-block">This will not be displayed</span>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, placeholder: "example.com" %>
  </div>
  <div class="field">
    <%= f.label :twitter %>
    <%= f.text_field :twitter, placeholder: "nyancat" %>
  </div>
  <div class="field">
		<label class="checkbox">
    	<%= f.check_box :show_name %> Show Name
		</label>
  </div>
  <div class="field">
		<label class="checkbox">
    	<%= f.check_box :email_updates %> Email Me Updates
		</label>
  </div>
  <div class="actions">
    <%= f.submit "Sign Guestbook", class: "btn btn-larg btn-success" %>
  </div>
<% end %>
