<% provide(:title, "BeccArt Guestbook") %>
<div class='row'>
	<div class='span3'>
		<%= render 'form' %>
	</div>
	<div class='span6'>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Website</th>
				<th>Twitter</th>
				<% if can? :manage, @guests%>
				<th>Show</th>
				<th>Edit</th>
				<th>Destroy</th>
				<% end %>
			</tr>

		<% @guests.each do |guest| %>
			<tr>
				<td>
					<% if guest.show_name? %>
						<%= guest.name %>
					<% else %>
						Anonymous
					<% end %>
				</td>
				<td>
					<% if not guest.website.nil? and not guest.website.empty? %>
						<%= link_to guest.website, "http://#{guest.website}" %>
					<% else %>
						---
					<% end %>
				</td>
				<td>
					<% if not guest.twitter.nil? and not guest.twitter.empty? %>
						<%= link_to "http://twitter.com/#!/#{guest.twitter}", class: "btn btn-info" do%>
							@<%= guest.twitter %>
						<% end %>
					<% else %>
						---
					<% end %>
				</td>
				<% if can? :manage, @guest %>
				<td>
					<%= link_to 'Show', guest %>
				</td>
				<td>
					<%= link_to 'Edit', edit_guest_path(guest) %>
				</td>
				<td>
					<%= link_to 'Destroy', guest, confirm: 'Are you sure?', method: :delete %>
				</td>
				<% end %>
			</tr>
		<% end %>
		</table>
	</div>
</div>
