<% provide(:title, "BeccArt Guestbook") %>

<div class='span5 offset2'>
	<div class='row'>
		<div class='span3 offset1'>
			<h4>Name</h4>
		</div>
		<div class='span3 offset1'>
			<%= @guest.name %>
		</div>
		<div class='span3 offset1'>
			<h4>Website</h4>
		</div>
		<div class='span3 offset1'>
			<%= (@guest.website.nil? or @guest.website.empty?) ? "---" : @guest.website %>
		</div>
		<div class='span3 offset1'>
			<h4>Twitter</h4>
		</div>
		<div class='span3 offset1'>
			<%= (@guest.twitter.nil? or @guest.twitter.empty?) ? "---" : @guest.twitter %>
		</div>
	</div>
</div>
