@import "bootstrap.scss";
@import "bootstrap-responsive";

@media (max-width: 767px) {
  html, body {
    padding: 0;
    margin: 0;
  }
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

$navWidth: $gridColumnWidth * 4;
$footerHeight: 21px;

html {
  height: 100%;
  body {
    height: 100%;

    .page {
      height: 100%;

      &.hidden-phone {
        .wrapper {
          position: relative;
          min-height: 100%;
          .content {
            padding-bottom: $footerHeight;
            padding-top: 40px;
          }
          .navigation {
						position: absolute;
						bottom: $footerHeight;
						right: 0;
						.helloMenu {
							position: relative;
							bottom: 20px;
							.nav-tabs.nav-stacked > li > a {
								border: 1px solid $grayLight;
							}
							.nav {
								margin: -1px -1px;
							}
						}
						.helloMonster {
							position: relative;
							bottom: 0;
						}
          }
        }
        .footer {
          height: $footerHeight;
          margin-top: -1 * $footerHeight;
        }
      }

      &.visible-phone {
        min-height: 100%;
        .wrapper {
          position: relative;
          min-height: 100%;
          .header {
            .nav-tabs.nav-stacked > li > a {
              border-top: 1px solid $grayLight;
              border-bottom: 1px solid $grayLight;
            }
            .nav-tabs.nav-stacked > li:first-child > a {
              border-top: none;
            }
          }
          .content {
            padding: 0 20px;
            padding-bottom: 80px;
          }
        }
        .footer {
          height: 80px;
          margin-top: -80px;
        }
      }

      .navigation {
        background-color: $white;
        text-align: center;
        font-size: 1.4em;
      }

      .header {
        text-align: center;
        font-size: 1.4em;
        .logo {
          width: $navWidth;
          height: 80px;
          background-image: url('/assets/logo.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
          padding: 0;
          border: none;
        }
        .nav-tabs.nav-stacked > li > a {
          text-decoration: none;
          color: $grayDark;
          background-color: white;
        }
        .nav-tabs.nav-stacked > li:last-child > a {
          border-radius: 0;
        }
        .nav-tabs.nav-stacked > li:first-child > a {
          border-radius: 0;
        }
      }

      .content {
        text-align: center;
      }

      .footer {
        color: $grayLighter;
        background-color: $grayDarker;
        text-align: center;
        font-size: 0.7em;
        line-height: 2.4em;
        height: 80px;
      }
    }
  }
}

/* Typography */

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1, h2 {
  color: $grayDark;
}

h3, h4 {
  color: $grayDarker;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-weight: 1.3em;
  line-height: 1.7em;
}

/* Forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

form {
	text-align: left;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}
