<div class='helloMenu'>
	<ul class='nav nav-tabs nav-stacked'>
		<li>
			<%= link_to "Gallery", "#" %>
		</li>
		<li>
			<%= link_to "Guestbook", guests_url %>
		</li>
		<li>
			<%= link_to "Shop", "#" %>
		</li>
		<li>
			<%= link_to "Comissions", "#" %>
		</li>
		<li>
			<%= link_to "About", about_url %>
		</li>
	</ul>
</div>
<div class='helloMonster'>
	<img src='/assets/HelloMonster.jpg'></img>
</div>
