<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content=""width=device-width, initial-scale=1.0">
  </head>
  <body>
  <div class='page hidden-phone'>
    <div class='container wrapper'>
      <div class='row'>
        <div class='content span9'>
					<h1><%= yield(:title) %></h1>
					<% flash.each do |key,value| %>
						<div class="alert alert-<%= key %>"><%= value %></div>
					<% end %>
          <%=  yield %>
        </div>
        <div class='navigation span3'>
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    <div class='footer'>
      <%=  render 'layouts/footer' %>
    </div>
  </div>
  <div class='page visible-phone'>
    <div class='wrapper'>
      <div class='header'>
        <%= render 'layouts/navigation' %>
      </div>
      <div class='content'>
        <%= yield %>
      </div>
    </div>
    <div class='footer'>
      <%= render 'layouts/footer' %>
    </div>
  </div>
  </body>
</html>
